@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-arimo);
  --font-title: var(--font-title);

  --color-background-dark: #050505;
  --color-background-light: #f4f4f5;
}

@layer base {
  body {
    @apply font-sans bg-[#f4f4f5] text-zinc-900 transition-colors duration-100;
  }

  .dark body {
    @apply bg-[#050505] text-zinc-100;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 dark:bg-zinc-800 rounded-full;
  }
}